.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Espacio entre cards */
    gap: 16px; /* Espacio entre cards */
  }
  
  .example-card {
    flex: 1 1 calc(25% - 32px); /* Para 4 cards por fila */
    max-width: calc(25% - 32px); /* Para 4 cards por fila */
  }
  .mat-card-content p {
    overflow: hidden;
    text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
  }

  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 300px;
    margin-right: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 14;
    text-align: center;
  }
  .filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  @media (max-width: 768px) {
    .example-card {
      flex: 1 1 calc(50% - 32px); /* Para 2 cards por fila en pantallas medianas */
      max-width: calc(50% - 32px);
    }
  }
  
  @media (max-width: 480px) {
    .example-card {
      flex: 1 1 100%; /* Para 1 card por fila en pantallas pequeñas */
      max-width: 100%;
    }
  }
  